*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   font-family: sans-serif;
    
}
.logo-section{
    width: 100%;
    height: 60px;
    /*padding: 80px;*/  
    background-color: rgb(237, 238, 243);
    border: 2px solid black;

}
.txt-center{
    text-align: center;
}
.logo-img{
    width: 30px;
    height: 20px;
       
}
/* Home Page Styles*/
/*.header-links li{
    display: inline-block;
    padding: 20px 30px;
}
.header-links li a{
    justify-content: space-between;
    font-size: extra-large;
    font-weight:normal;
    color: grey;
}
*/
.navbar{
    position: sticky;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(192, 103, 192), rgb(118, 52, 241));
    width: 100%;
    height: 60px;
}
.navbar  li{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 20px 25px;
    
}
.navbar  li a{
    font-size: large;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar nav li a:hover{
    color: midnightblue;
}
/*#userDetails{
    text-align: center;
    padding-top: 20px;
}*/
.main-content{
    padding: 30px;
    width: 100% ;
    height: auto; 
}

#userDetails{
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    max-height: 900px;
    background-color: rgba(183, 178, 247, 0.8);
    align-items: left;
    border-radius: 30px;
}

label{
    padding-bottom: 20px;
    padding-right: 20px;
    font-weight: bolder;
}
input,select,textarea{
    border-radius: 5px;
    min-width: 200px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
}
#radio-btn,
#check-box {

 min-height: 2px;
 min-width: 2px;
 width: 40px;
 display: inline-block;
 margin-bottom: 10px
}
fieldset{
    border: none;
    
}

#submit-b1,#reset-b1{
    text-align: center;
    border: 2px solid #665151;
    padding: 15px ;
    font-size: medium;
    cursor: pointer;
    background-color: rgb(85, 66, 128);
    color: white;
    width: 30%;
    float: left;
    margin: 10px;
}

#submit-b1:hover,#reset-b1:hover{
    outline: none;
    color: rgb(68, 5, 139);
    background-color: rgb(181, 201, 245);
}
footer{
    background-color: darkslateblue;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px ;
}
footer p{
    font-size: medium;
    color: #fff;
    font-weight: bold;
}
footer a{
    color: #fff;
}
/* Users List Page */
.main-content-userpage{
    align-items: center;
    padding: 20px;
    max-width: 100% ;
    height: 1000px;
    
}
table{
    max-width: 80%;
    overflow-x: auto;
    border: 1px solid rgb(65, 8, 170);
    border-collapse: collapse;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    padding: 20px;
    text-align: center;
  }
 th{
   padding-top: 10px;
   padding-bottom: 10px;
   font-weight: bold;
   background-color: rgba(180, 173, 250, 0.815) ;
    
}
 th,td{
    border: 1px solid rgb(147, 111, 247);
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}
tr:hover{
    background-color: rgb(201, 223, 248);
}
tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
tbody tr:nth-child(even) {
    background-color: #eee;
  }
  /*Customer Details Page*/

  #customerDetails{
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    max-height: 500px;
    background-color: rgba(183, 178, 247, 0.8);
    align-items: left;
    border-radius: 30px;
}

